body{
    background: rgb(167, 255, 255);
    font-family: sans-serif;
}

header{
color: white;
text-align: center;
}

section{
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #0000002a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1b1b1b;
}

img#imagem{
    border-radius: 100%;
}

div{
    text-align: center;
    padding: 10px;
}

footer{
color: white;
font-style: italic;
text-align: center;
}